<section class="u-clearfix u-palette-3-base u-section-1" id="carousel_dca0">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-body-alt-color u-text-1">ReCRUIT</h1>
        <p class="u-custom-font u-heading-font u-text u-text-body-alt-color u-text-2">
            採用情報のページです。採用に関するコンテンツを掲載しています。<br>
        </p>
        <a href="#"
            class="u-border-2 u-border-palette-5-base u-btn u-button-style u-none u-text-hover-white u-text-palette-5-base u-btn-1">
            <span style="font-size: 1.875rem;">ENTRY</span>
        </a>
    </div>
</section>
<section class="u-clearfix u-section-2" id="sec-d806">
    <div class="u-clearfix u-sheet u-sheet-1">
        <img src="../../assets/images/ElpTQQzU4AEeF9m.jfif" alt="" class="u-image u-image-default u-image-1" data-image-width="680"
            data-image-height="510">
        <h2 class="u-align-center u-text u-text-1">ささこうってなに？</h2>
        <h3 class="u-align-center u-text u-text-2">〇〇がモットーの会社です。Click again or double click to start editing the
            text.Sample text.&nbsp;Click again or double click to start editing the text.Sample text.&nbsp;</h3>
        <p class="u-align-center u-text u-text-3">Sample text. Click to select the text box. Click again or double
            click to start editing the text.Sample text. Click to select the text box. Click again or double click
            to start editing the text.Sample text. Click to select the text box. Click again or double click to
            start editing the text.Sample text. Click to select the text box. Click again or double click to start
            editing the text.Sample text. Click to select the text box. Click again or double click to start editing
            the text.</p>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-image u-layout-cell u-size-30 u-image-2" data-image-width="1451"
                        data-image-height="817">
                        <div class="u-container-layout u-container-layout-1"></div>
                    </div>
                    <div class="u-container-style u-image u-layout-cell u-size-30 u-image-3" data-image-width="1600"
                        data-image-height="1200">
                        <div class="u-container-layout u-container-layout-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="u-align-left u-text u-text-4">どんな仕事をするの？</h3>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-2">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-image u-layout-cell u-size-30 u-image-4" data-image-width="1200"
                        data-image-height="1600">
                        <div class="u-container-layout u-container-layout-3"></div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-4">
                        <div class="u-container-layout u-valign-top u-container-layout-4">
                            <p class="u-text u-text-5">Sample text. Click to select the text box. Click again or
                                double click to start editing the text.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="u-align-left u-text u-text-6">こんな人と働きたい！<br>
        </h3>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-3">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-5">
                        <div class="u-container-layout u-container-layout-5">
                            <p class="u-text u-text-default u-text-7">Sample text. Click to select the text box.
                                Click again or double click to start editing the text.</p>
                        </div>
                    </div>
                    <div class="u-container-style u-image u-layout-cell u-size-30 u-image-5" data-image-width="465"
                        data-image-height="266">
                        <div class="u-container-layout u-container-layout-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-left u-clearfix u-grey-5 u-section-3" id="sec-edf1">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-1">ささこうの1日</h2>
        <div class="u-border-1 u-border-palette-1-base u-line u-line-vertical u-opacity u-opacity-60 u-line-1">
        </div>
        <h3 class="u-align-left u-text u-text-2"><span class="u-icon u-text-palette-3-base u-icon-1"><svg
                    class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;">
                    <g>
                        <g>
                            <path
                                d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z">
                            </path>
                        </g>
                    </g>
                </svg><img></span>&nbsp;09:00
        </h3>
        <h5 class="u-align-left u-text u-text-3">Sample text. Click to select the text box. Click again or double
            click to start editing the text.</h5>
        <h3 class="u-align-left u-text u-text-4"><span class="u-icon u-text-palette-3-base u-icon-2"><svg
                    class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;">
                    <g>
                        <g>
                            <path
                                d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z">
                            </path>
                        </g>
                    </g>
                </svg><img></span>&nbsp;10:00
        </h3>
        <h5 class="u-align-left u-text u-text-5">Sample text. Click to select the text box. Click again or double
            click to start editing the text.</h5>
        <h3 class="u-align-left u-text u-text-6"><span class="u-icon u-text-palette-3-base u-icon-3"><svg
                    class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;">
                    <g>
                        <g>
                            <path
                                d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z">
                            </path>
                        </g>
                    </g>
                </svg><img></span>&nbsp;13:00
        </h3>
        <h5 class="u-align-left u-text u-text-7">Sample text. Click to select the text box. Click again or double
            click to start editing the text.</h5>
        <h3 class="u-align-left u-text u-text-8"><span class="u-icon u-text-palette-3-base u-icon-4"><svg
                    class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;">
                    <g>
                        <g>
                            <path
                                d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z">
                            </path>
                        </g>
                    </g>
                </svg><img></span>&nbsp;15:00
        </h3>
        <h5 class="u-align-left u-text u-text-9">Sample text. Click to select the text box. Click again or double
            click to start editing the text.</h5>
        <h3 class="u-align-left u-text u-text-10"><span class="u-icon u-text-palette-3-base u-icon-5"><svg
                    class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;">
                    <g>
                        <g>
                            <path
                                d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z">
                            </path>
                        </g>
                    </g>
                </svg><img></span>&nbsp;18:00
        </h3>
        <img alt="" class="u-hidden-sm u-hidden-xs u-image u-image-default u-preserve-proportions u-image-1"
            data-image-width="1202" data-image-height="1600" src="../../assets/images/Eln8eSEUYAEL6kN.jfif">
        <img src="../../assets/images/Elqgf3tVcAEQPsp.jfif" alt="" class="u-hidden-sm u-hidden-xs u-image u-image-default u-image-2"
            data-image-width="1600" data-image-height="1200">
        <h5 class="u-align-left u-text u-text-11">Sample text. Click to select the text box. Click again or double
            click to start editing the text.</h5>
        <h3 class="u-align-left u-text u-text-12"><span class="u-icon u-text-palette-3-base u-icon-6"><svg
                    class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;">
                    <g>
                        <g>
                            <path
                                d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z">
                            </path>
                        </g>
                    </g>
                </svg><img></span>&nbsp;20:00
        </h3>
        <h5 class="u-align-left u-text u-text-13">Sample text. Click to select the text box. Click again or double
            click to start editing the text.</h5>
        <img src="../../assets/images/27.png" alt="" class="u-hidden-sm u-hidden-xs u-image u-image-default u-image-3"
            data-image-width="455" data-image-height="257">
    </div>
</section>
<section class="u-align-left u-clearfix u-section-4" id="carousel_b258">
    <img src="../../assets/images/P1010677.JPG" alt="" class="u-image u-image-default u-opacity u-opacity-70 u-image-1"
        data-image-width="4016" data-image-height="2256">
    <h2 class="u-text u-text-1">社長メッセージ</h2>
    <div
        class="u-align-center u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-group u-palette-3-base u-group-1">
        <div
            class="u-container-layout u-valign-middle-xs u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
            <h5 class="u-custom-font u-font-ubuntu u-text u-text-2">
                Sasazawa Yousuke
            </h5>
        </div>
    </div>
    <h3 class="u-text u-text-3">Sample Headline</h3>
    <p class="u-text u-text-4">Sample text. Click to select the text box. Click again or double click to start
        editing the text.Sample text. Click to select the text box. Click again or double click to start editing the
        text.</p>
</section>
<section class="u-clearfix u-section-5" id="sec-307f">
    <div
        class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
        <h2 class="u-text u-text-1">社長はどんな人？</h2>
        <p class="u-text u-text-2">Sample text. Click to select the text box. Click again or double click to start
            editing the text.Sample text. Click to select the text box. Click again or double click to start editing
            the text.Sample text. Click to select the text box. Click again or double click to start editing the
            text.</p>
        <div class="u-align-center u-video u-video-contain u-video-1">
            <div class="embed-responsive embed-responsive-1">
                <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;"
                    class="embed-responsive-item"
                    src="https://www.youtube.com/embed/LsVTZ8hHJBk?mute=0&amp;showinfo=0&amp;controls=0&amp;start=0"
                    frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-grey-5 u-section-6" id="carousel_d967">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">働いているひとからの声</h2>
        <div class="u-expanded-width u-list u-repeater u-list-1">
            <div class="u-border-2 u-border-palette-1-base u-container-style u-list-item u-repeater-item">
                <div
                    class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-xl u-container-layout-1">
                    <div alt=""
                        class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-align-left-xl u-image u-image-circle u-image-1"
                        data-image-width="299" data-image-height="255"></div>
                    <h4 class="u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-2"><b>先輩社員の声</b>
                    </h4>
                    <p class="u-text u-text-3">Sample text. Click to select the text box. Click again or double
                        click to start editing the text.</p>
                </div>
            </div>
            <div class="u-border-2 u-border-palette-1-base u-container-style u-list-item u-repeater-item">
                <div
                    class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-xl u-container-layout-2">
                    <div alt=""
                        class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-align-left-xl u-image u-image-circle u-image-2"
                        data-image-width="737" data-image-height="630"></div>
                    <h4 class="u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-4">
                        <b>学生アルバイトからの声</b>
                    </h4>
                    <p class="u-text u-text-5">Sample text. Click to select the text box. Click again or double
                        click to start editing the text.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-section-7" id="sec-58cf">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-1">faq</h2>
        <p class="u-text u-text-2">採用に関するよくある質問をまとめました。</p>
        <div class="u-accordion u-faq u-spacing-20 u-accordion-1">
            <div class="u-accordion-item">
                <a class="active u-accordion-link u-border-1 u-border-active-grey-75 u-border-grey-15 u-border-hover-grey-75 u-border-no-left u-border-no-right u-border-no-top u-button-style u-text-black u-accordion-link-1"
                    id="link-accordion-6327" aria-controls="accordion-6327" aria-selected="true">
                    <span class="u-accordion-link-text">Do you provide support?</span><span
                        class="u-accordion-link-icon u-icon u-text-black u-icon-1"><svg class="u-svg-link"
                            preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style="">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8021"></use>
                        </svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-8021" style="">
                            <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                        </svg></span>
                </a>
                <div class="u-accordion-active u-accordion-pane u-container-style u-accordion-pane-1"
                    id="accordion-6327" aria-labelledby="link-accordion-6327">
                    <div class="u-container-layout u-container-layout-1">
                        <div class="fr-view u-clearfix u-rich-text u-text">
                            <p>Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id
                                suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed
                                efficitur dolor, et ultricies sapien. Quisque fringilla sit amet dolor commodo
                                efficitur. Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis
                                sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-accordion-item">
                <a class="u-accordion-link u-border-1 u-border-active-grey-75 u-border-grey-15 u-border-hover-grey-75 u-border-no-left u-border-no-right u-border-no-top u-button-style u-text-black u-accordion-link-2"
                    id="link-accordion-4aab" aria-controls="accordion-4aab" aria-selected="false">
                    <span class="u-accordion-link-text">What types of files I will get?</span><span
                        class="u-accordion-link-icon u-icon u-text-black u-icon-2"><svg class="u-svg-link"
                            preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style="">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3470"></use>
                        </svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-3470" style="">
                            <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                        </svg></span>
                </a>
                <div class="u-accordion-pane u-container-style u-accordion-pane-2" id="accordion-4aab"
                    aria-labelledby="link-accordion-4aab">
                    <div class="u-container-layout u-container-layout-2">
                        <div class="u-clearfix u-rich-text u-text">
                            <p>Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id
                                suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed
                                efficitur dolor, et ultricies sapien. Quisque fringilla sit amet dolor commodo
                                efficitur. Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis
                                sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-accordion-item">
                <a class="u-accordion-link u-border-1 u-border-active-grey-75 u-border-grey-15 u-border-hover-grey-75 u-border-no-left u-border-no-right u-border-no-top u-button-style u-text-black u-accordion-link-3"
                    id="link-accordion-eb1f" aria-controls="accordion-eb1f" aria-selected="false">
                    <span class="u-accordion-link-text">How to get future updates?</span><span
                        class="u-accordion-link-icon u-icon u-text-black u-icon-3"><svg class="u-svg-link"
                            preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style="">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e07d"></use>
                        </svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-e07d" style="">
                            <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                        </svg></span>
                </a>
                <div class="u-accordion-pane u-container-style u-accordion-pane-3" id="accordion-eb1f"
                    aria-labelledby="link-accordion-eb1f">
                    <div class="u-container-layout u-container-layout-3">
                        <div class="fr-view u-clearfix u-rich-text u-text">
                            <p>Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id
                                suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed
                                efficitur dolor, et ultricies sapien. Quisque fringilla sit amet dolor commodo
                                efficitur. Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis
                                sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-palette-3-base u-section-8" id="carousel_6e85">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h4 class="u-text u-text-body-alt-color u-text-1">各種採用はこちらから</h4>
        <a href="#"
            class="u-border-2 u-border-palette-5-base u-btn u-button-style u-none u-text-hover-white u-text-palette-5-base u-btn-1">ENTRY</a>
    </div>
</section>