<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-d135">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-align-left u-text u-text-1">
            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-text-hover-palette-1-base u-btn-1"
                href="rule" data-page-id="2821524067">利用規約</a>
        </p>
        <p class="u-align-left u-text u-text-2">
            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-text-hover-palette-1-base u-btn-2"
                href="policy" data-page-id="218824671">プライバシーポリシー</a>
        </p>
        <p class="u-align-left u-text u-text-3">
            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-3"
                href="law" data-page-id="4870268">特定商取引法に基づく表示</a>
        </p>
        <p class="u-small-text u-text u-text-variant u-text-4">Copyright © 2021 Structural Engine&nbsp;</p>
    </div>
</footer>


<span
    style="height: 64px; width: 64px; margin-left: 0px; margin-right: auto; margin-top: 0px; background-image: none; right: 20px; bottom: 20px"
    class="u-back-to-top u-icon u-icon-circle u-opacity u-opacity-85 u-palette-1-base u-spacing-10" data-href="#"><svg
        class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 551.13 551.13" style="">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-11f8"></use>
    </svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
        xml:space="preserve" class="u-svg-content" viewBox="0 0 551.13 551.13" id="svg-11f8">
        <path d="m275.565 189.451 223.897 223.897h51.668l-275.565-275.565-275.565 275.565h51.668z"></path>
    </svg>
</span>