.u-section-10 {
    background-image: none;
  }
  
  .u-section-10 .u-sheet-1 {
    min-height: 140px;
  }
  
  .u-section-10 .u-social-icons-1 {
    white-space: nowrap;
    height: 51px;
    min-height: 16px;
    width: 233px;
    min-width: 94px;
    margin: 60px auto 30px;
  }
  
  .u-section-10 .u-icon-1 {
    height: 100%;
    color: rgb(85, 172, 238) !important;
  }
  
  .u-section-10 .u-icon-2 {
    height: 100%;
    color: rgb(197, 54, 164) !important;
  }
  
  .u-section-10 .u-icon-3 {
    height: 100%;
    color: rgb(210, 34, 21) !important;
  }
  
  .u-section-10 .u-icon-4 {
    height: 100%;
    color: rgb(0, 137, 203) !important;
  }
  