.u-section-1 .u-sheet-1 {
  min-height: 464px;
}

.u-section-1 .u-text-1 {
  margin: 20px 282px 0;
}

.u-section-1 .u-table-1 {
  margin: 10px auto 50px 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-e2f1-4 {
  font-weight: 700;
  background-image: none;
}

.u-block-e2f1-72 {
  height: 46px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-block-e2f1-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 182px;
    margin-right: 182px;
  }

  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 72px;
    margin-right: 72px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}
