<section class="u-align-center u-clearfix u-section-2" id="sec-3d95">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-text u-text-1">About Us</h1>
      <h4 class="u-text u-text-2">私たちについて</h4>
      <p class="u-large-text u-text u-text-variant u-text-3">私たちはデジタルスペシャリストと構造設計技術者の集合知をもって、クライアントのビジネスをサポートします。</p>
      <img src="./assets/images/ElpTQQzU4AEeF9m.jfif" alt="" class="u-image u-image-default u-image-1" data-image-width="680"
        data-image-height="510">
      <p class="u-text u-text-4">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id
        suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed efficitur dolor, et ultricies
        sapien. Quisque fringilla sit amet dolor commodo efficitur.
        Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit amet. </p>
    </div>
  </section>