<header>
  <div class="content-header">
    <div class="header-top">
      <h1>
        <a class="logo" href="./">
          <img
            src="../../assets/img/professional.png "
            width="100"
            height="50"
            alt="logo"
          />
        </a>
      </h1>
      <div class="icon-bar"></div>
      <div class="menu">
        <ul>
          <li>
            <a href="#about"> 会社概要 </a>
          </li>
          <li>
            <a href="#service"> サービス </a>
          </li>
          <li>
            <a href="#shop"> ポイント購入 </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid">
  <h1>カルーセル</h1>
  <h2>Full tutorial in Techiediaries</h2>
  <ngb-carousel style="outline: none">
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="../../assets/img/professional.png" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h3>First Slide</h3>
        <p>Angular 10 Carousel Example</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="../../assets/img/starter.png" alt="Random second slide" />
      </div>
      <div class="carousel-caption">
        <h3>Second Slide</h3>
        <p>Check out Techiediaries</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="../../assets/img/professional.png" alt="Random third slide" />
      </div>
      <div class="carousel-caption">
        <h3>Third Slide</h3>
        <p>for full tutorial...</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<section class="content" id="about">
  <div class="content-inner">
    <div class="title">
      <h2>会社概要</h2>
      <p class="entit">about</p>
    </div>
    <h3 class="subtit">私たちについて</h3>
    <p class="text-top">
      Structural Engineは解析ソフトをインストールすることなく解析できるサービス
    </p>
    <p class="text">
      私たちは、デジタルスペシャリストと構造設計技術者の集合知をもって、クライアントのビジネスをサポートします。
      現在用意しております解析サービス以外にもお客様のご要望に沿った解析機能を開発・提供できます。お気軽にお問い合わせください。
    </p>
    <h3 class="subtit">社長紹介</h3>
    <div>
      <div class="icon-box">
        <img src="../../assets/img/sasazawa.jpg" alt="sasazawa" />
        <p>
          大学卒業後、2000年株式会社東邦エンジニアリング入社。<br />2008年清掃業で独立。<br />2019年株式会社ささこう設立。<br />
        </p>
      </div>
      <div class="icon-text">
        <p class="sm">株式会社ささこう 代表取締役</p>
        <p class="lg">笹澤陽佑</p>
      </div>
    </div>
    <h3 class="subtit">社長挨拶</h3>
    <p class="text">
      東京都三鷹市で、 鉄道系ドボク設計の会社をやってます。
      コンクリート構造物をプログラムを整備しながら設計することを得意としています
      。 DoboProではここにいるエンジニアの相談役をしています。
    </p>

    <!-- <h3 class="subtit">アクセス</h3>
    <p class="text">
      <i class="fi fi-map-marker-alt"></i>
      〒181-0013 東京都三鷹市下連雀3丁目3-50 パークファミリア501
    </p> -->
    <!-- <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.023958288403!2d139.56269231512465!3d35.70102803649373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018efb40b58a647%3A0x2428be5444212649!2z44CSMTgxLTAwMTMg5p2x5Lqs6YO95LiJ6be55biC5LiL6YCj6ZuA77yT5LiB55uu77yT4oiS77yV77yQIOODkeODvOOCr-ODleOCoeODn-ODquOCog!5e0!3m2!1sja!2sjp!4v1614676703530!5m2!1sja!2sjp"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div> -->
  </div>
</section>

<section class="content" id="service">
  <div class="content-inner">
    <div class="title">
      <h2>サービス</h2>
      <p class="entit">service</p>
    </div>
    <h3 class="subtit">取り扱い案件</h3>
    <p class="text">
      計算結果を得るには、指定の形式でサーバーに入力データを送信すれば解析結果が得られます。
      利用の際には、公開APIの利用規約に同意し、ポイントを購入後、問い合わせたいIPアドレスの情報を含めたURLにアクセスします。
    </p>
    <div>
      <div class="service-box">
        <div class="box-inner left">
          <div class="image">
            <a href="./">
              <img src="../../assets/img/professional.png" alt="image first" />
            </a>
          </div>
          <div>
            <div class="text-head">
              <a href="./">立体骨組応力解析</a>
            </div>
            <div class="text-body">
              <p class="exp-text">
                ３次元骨組構造解析をクラウドコンピューターで行うことにより、解析ソフトをインストールすることなく解析できます。指定の形式でサーバーに入力データを送信すれば解析結果が得られます。
              </p>
              <a href="./"> 詳細はこちら </a>
              <a href="./"> 利用する </a>
            </div>
          </div>
        </div>

        <div class="box-inner right">
          <div class="image">
            <a href="./">
              <img src="../../assets/img/starter.png" alt="image second" />
            </a>
          </div>
          <div>
            <div class="text-head">
              <a href="./">断面性能照査</a>
            </div>
            <div class="text-body">
              <p class="exp-text">
                ３次元骨組構造解析をクラウドコンピューターで行うことにより、解析ソフトをインストールすることなく解析できます。指定の形式でサーバーに入力データを送信すれば解析結果が得られます。
              </p>
              <a href="./"> 詳細はこちら </a>
              <a href="./"> 利用する </a>
            </div>
          </div>
        </div>

        <div class="box-inner left">
          <div class="image">
            <a href="./">
              <img src="../../assets/img/professional.png" alt="image third" />
            </a>
          </div>
          <div>
            <div class="text-head">
              <a href="./">杭の支持力係数</a>
            </div>
            <div class="text-body">
              <p class="exp-text">
                ３次元骨組構造解析をクラウドコンピューターで行うことにより、解析ソフトをインストールすることなく解析できます。指定の形式でサーバーに入力データを送信すれば解析結果が得られます。
              </p>
              <a href="./"> 詳細はこちら </a>
              <a href="./"> 利用する </a>
            </div>
          </div>
        </div>

        <div class="box-inner right">
          <div class="image">
            <a href="./">
              <img src="../../assets/img/starter.png" alt="image fourth" />
            </a>
          </div>
          <div>
            <div class="text-head">
              <a href="./">地盤の応答変位量</a>
            </div>
            <div class="text-body">
              <p class="exp-text">
                ３次元骨組構造解析をクラウドコンピューターで行うことにより、解析ソフトをインストールすることなく解析できます。指定の形式でサーバーに入力データを送信すれば解析結果が得られます。
              </p>
              <a href="./"> 詳細はこちら </a>
              <a href="./"> 利用する </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content" id="shop">
  <div class="content-inner">
    <div class="title">
      <h2>ポイント購入</h2>
      <p class="entit">shop</p>
    </div>
    <h3 class="subtit">ポイント1000pt</h3>
    <p class="text">
      東京都三鷹市で、 鉄道系ドボク設計の会社をやってます。
      コンクリート構造物をプログラムを整備しながら設計することを得意としています
      。 DoboProではここにいるエンジニアの相談役をしています。
    </p>
  </div>
</section>

<!-- <div class="buttun">
  <a class="buttun-inner"> 使い始める </a>
</div> -->

<div class="private">
  <ul class="icon">
    <a>株式会社ささこう</a>
    <li>
      <i class="fi fi-map-marker-alt"></i>
      〒181-0013 東京都三鷹市下連雀3丁目3-50 パークファミリア501
    </li>
    <li><i class="fi fi-phone"></i> 050-5806-0301</li>
  </ul>
</div>

<div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.023958288403!2d139.56269231512465!3d35.70102803649373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018efb40b58a647%3A0x2428be5444212649!2z44CSMTgxLTAwMTMg5p2x5Lqs6YO95LiJ6be55biC5LiL6YCj6ZuA77yT5LiB55uu77yT4oiS77yV77yQIOODkeODvOOCr-ODleOCoeODn-ODquOCog!5e0!3m2!1sja!2sjp!4v1614676703530!5m2!1sja!2sjp"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
  ></iframe>
</div>

<!-- ページトップへ戻る -->
<div id="page_top"><a href="#"></a></div>

<footer>
  Copyright © 2021 Structural Engine – OnePress theme by FameTheme
</footer>
