.u-section-1-1 {
    background-image: url("../../../assets/images/23.png");
    background-position: 0% 100%;
    background-size: auto 125%;
  }
  
  .u-section-1-1 .u-sheet-1 {
    min-height: 800px;
  }
  
  .u-section-1-1 .u-text-1 {
    font-size: 7.5rem;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 700;
    margin: 111px 380px 0 0;
  }
  
  .u-section-1-1 .u-btn-1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 63px auto 60px 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1-1 .u-sheet-1 {
      min-height: 660px;
    }
  
    .u-section-1-1 .u-text-1 {
      margin-right: 180px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1-1 {
      background-size: auto 120%;
    }
  
    .u-section-1-1 .u-sheet-1 {
      min-height: 506px;
    }
  
    .u-section-1-1 .u-text-1 {
      font-size: 5rem;
      margin-right: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1-1 .u-sheet-1 {
      min-height: 380px;
    }
  
    .u-section-1-1 .u-text-1 {
      font-size: 4.5rem;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1-1 {
      background-position: 35.71% 93.19%;
      background-size: auto 125%;
    }
  
    .u-section-1-1 .u-text-1 {
      font-size: 3rem;
      width: auto;
      margin-top: 74px;
    }
  
    .u-section-1-1 .u-btn-1 {
      margin-top: 76px;
      margin-bottom: 40px;
    }
  }
  .u-section-1-2 {
    background-image: url("../../../assets/images/33.JPG");
    background-position: 50% 50%;
  }
  
  .u-section-1-2 .u-sheet-1 {
    min-height: 800px;
  }
  
  .u-section-1-2 .u-text-1 {
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
    margin: 0 0 60px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1-2 .u-sheet-1 {
      min-height: 660px;
    }
  
    .u-section-1-2 .u-text-1 {
      margin-top: 60px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1-2 {
      background-position: 100% 51.06%;
      background-size: 110%;
    }
  
    .u-section-1-2 .u-sheet-1 {
      min-height: 506px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1-2 .u-sheet-1 {
      min-height: 405px;
    }
  
    .u-section-1-2 .u-text-1 {
      font-size: 4.5rem;
      margin-top: 118px;
      margin-bottom: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1-2 {
      background-position: 69.52% 0%;
      background-size: auto 110%;
    }
  
    .u-section-1-2 .u-sheet-1 {
      min-height: 380px;
    }
  
    .u-section-1-2 .u-text-1 {
      font-size: 3rem;
    }
  }
  .u-block-4732-2 {
    position: absolute;
    bottom: 10px;
  }
  
  .u-block-4732-3 {
    position: absolute;
    left: 0;
  }
  
  .u-block-4732-4 {
    position: absolute;
    width: 65px;
    height: 65px;
    left: auto;
    right: 0;
  }
  
  @media (max-width: 1199px) {
    .u-block-4732-3 {
      width: 50px;
      height: 50px;
    }
  }
  
  