<!-- ヘッダー -->
<div>
  <ul>
    <li><a routerLink="./main">ホーム</a></li>
    <li><a href="https://note.com/sasaicco/m/m7052d0021a76" target="_new">立体骨組応力解析</a></li>
    <li><a href="https://note.com/sasaicco/m/mc45d22ca1ba2" target="_new">断面性能照査</a></li>
    <li><a href="https://note.com/sasaicco/m/m87dd44c57963" target="_new">杭の支持力係数</a></li>
    <li><a href="https://note.com/sasaicco/m/m8e38daddbecc" target="_new">地盤の応答変位量</a></li>
    <li><a routerLink="./shop">ポイントを購入する</a></li>
  </ul>
</div>

<!-- メイン -->
<div>
<router-outlet></router-outlet>
</div>

<!-- フッター-->
<div>
  <ul>
    <li><a routerLink="./terms-of-use">利用規約</a></li>
    <li><a routerLink="./privacy-policy">プライバシーポリシー</a></li>
    <li><a routerLink="./law">特定商取引法に基づく表示</a></li>
  </ul>
</div>
