<section class="u-align-left u-clearfix u-section-3" id="carousel_5fc3">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <div alt="" class="u-image u-image-circle u-image-1" data-image-width="1600" data-image-height="1600">
                </div>
                <h5 class="u-text u-text-1">株式会社ささこう 代表取締役</h5>
                <p class="u-text u-text-2">
                  <span style="font-size: 1.875rem;">笹澤陽佑</span>
                </p>
                <p class="u-small-text u-text u-text-variant u-text-3">Sasazawa Yosuke</p>
              </div>
            </div>
            <div class="u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-size-30 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <div
                  class="u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-palette-3-base u-group-1">
                  <div class="u-container-layout u-valign-middle u-container-layout-3">
                    <h2 class="u-align-center u-text u-text-4">社長挨拶</h2>
                  </div>
                </div>
                <p class="u-text u-text-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                  eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>