<section class="u-clearfix u-section-5" id="carousel_e24f">
    <h1 class="u-align-center u-text u-text-1">SEVIC​E</h1>
    <h4 class="u-align-center u-text u-text-2">サービス</h4>
    <p class="u-align-center u-large-text u-text u-text-variant u-text-3">
      土木構造設計の数値計算の数量は膨大です。この数値計算を正確かつ速く処理できれば、仕事量を格段に増やすことができます。これを実現するのが、数値計算サービスStructuralEngineです。その解析機能を&nbsp;API
      として提供して​います。指定の形式でサーバーに入力データを送信すれば解析結果が得られます。各サービスの<a href="https://note.com/structuralengine"
        class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1"
        target="_blank">詳細はこちら&gt;&gt;</a>
    </p>
    <div class="u-hidden-md u-hidden-sm u-hidden-xs u-palette-3-base u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-align-center u-list u-repeater u-list-1">

      <div
        class="u-container-style u-custom-background u-grey-70 u-list-item u-repeater-item u-shape-rectangle u-list-item-1">
        <div class="u-container-layout u-similar-container u-container-layout-1">
          <img class="u-expanded-width u-image u-image-1" src="./assets/images/FrameJS.gif" data-image-width="1600"
            data-image-height="708">
          <h4 class="u-align-center u-text u-text-4">立体骨組応力解析</h4>
          <p class="u-align-justify u-text u-text-5">本プログラムは、任意形立体骨組構造物の応力解析を行うプログラムです。</p>
          <a href="https://structuralengine.github.io/FrameWebforJS/input-nodes"
            class="u-align-center u-btn u-button-style u-hover-palette-3-base u-palette-1-base u-btn-2"
            target="_blank">利用する</a>
          <a href="https://note.com/structuralengine/m/m7052d0021a76"
            class="u-align-center u-btn u-button-style u-hover-palette-3-base u-palette-1-base u-btn-3"
            target="_blank">詳細はこちら</a>
        </div>
      </div>

      <div class="u-container-style u-grey-70 u-list-item u-repeater-item u-shape-rectangle u-list-item-2">
        <div class="u-container-layout u-similar-container u-container-layout-2">
          <img class="u-expanded-width u-image u-image-2" src="./assets/images/22.png" data-image-width="1314"
            data-image-height="576">
          <h4 class="u-align-center u-text u-text-6">断面性能照査</h4>
          <p class="u-align-justify u-text u-text-7">本プログラムは、鉄道構造物等設計標準・同解説-コンクリート構造物―平成16年4月に準拠した、断面の釣り合い計算 および
            応力度の算定を行うプログラムです。</p>
          <a href="https://structuralengine.github.io/WebDanforJS/basic-information"
            class="u-align-center u-btn u-button-style u-hover-palette-3-base u-palette-1-base u-btn-4"
            target="_blank">利用する</a>
          <a href="https://note.com/structuralengine/m/mc45d22ca1ba2"
            class="u-align-center u-btn u-button-style u-hover-palette-3-base u-palette-1-base u-btn-5"
            target="_blank">詳細はこちら</a>
        </div>
      </div>
<!-- 
      <div
        class="u-container-style u-custom-background u-grey-70 u-list-item u-repeater-item u-shape-rectangle u-list-item-3">
        <div class="u-container-layout u-similar-container u-container-layout-3">
          <img class="u-expanded-width u-image u-image-3" src="./assets/images/31.jpg" data-image-width="1600"
            data-image-height="1200">
          <h4 class="u-align-center u-text u-text-8">杭の支持力係数</h4>
          <p class="u-align-justify u-text u-text-9">本プログラムは、鉄道構造物等設計標準・同解説-基礎構造物―平成24年1月に準拠した、杭基礎の地盤抵抗係数を算定するプログラムです。
          </p>
          <a href="#"
            class="u-align-center u-btn u-button-style u-hover-palette-3-base u-palette-1-base u-btn-6">利用する<span
              style="font-size: 1rem;"></span>
          </a>
          <a href="#"
            class="u-align-center u-btn u-button-style u-hover-palette-3-base u-palette-1-base u-btn-7">詳細はこちら</a>
        </div>
      </div>
       -->
<!-- 
      <div
        class="u-container-style u-custom-background u-grey-70 u-list-item u-repeater-item u-shape-rectangle u-list-item-4">
        <div class="u-container-layout u-similar-container u-container-layout-4">
          <img class="u-expanded-width u-image u-image-4" src="./assets/images/31.jpg" data-image-width="1600"
            data-image-height="1200">
          <h4 class="u-align-center u-text u-text-10">地盤の応答変位量</h4>
          <p class="u-align-justify u-text u-text-11">本プログラムは、鉄道構造物等設計標準・同解説-耐震設計―平成24年1月に準拠した、地盤変位量を算定するプログラムです。</p>
          <a href="#"
            class="u-align-center u-btn u-button-style u-hover-palette-3-base u-palette-1-base u-btn-8">利用する</a>
          <a href="#"
            class="u-align-center u-btn u-button-style u-hover-palette-3-base u-palette-1-base u-btn-9">詳細はこちら</a>
        </div>
      </div>
       -->
    </div>
  </section>