.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 255px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 9.375rem;
  text-transform: uppercase;
  line-height: 0.6;
  margin: 60px 507px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  margin: 20px 308px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -9px 30px 20px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 59px;
    margin-right: 307px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 108px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-right: 108px;
    margin-left: 0;
    padding: 0 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 87px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -9px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1938px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 380px;
  margin: 65px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 60px 408px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-2 .u-image-2 {
  min-height: 200px;
  background-image: url("images/23.png");
  background-position: 50% 77.56%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 200px;
  background-image: url("images/EmbIqKHU8AEeN3t.jfif");
  background-position: 50% 33.88%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 30px 840px 0 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-2 .u-image-4 {
  min-height: 400px;
  background-image: url("images/EoiIELlVQAE8KQ5.jfif");
  background-position: 50% 0%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 30px 840px 0 0;
}

.u-section-2 .u-layout-wrap-3 {
  margin-top: 10px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  margin-top: 0;
}

.u-section-2 .u-image-5 {
  min-height: 400px;
  background-image: url("images/26.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1763px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 308px;
    margin-right: 308px;
  }

  .u-section-2 .u-image-2 {
    min-height: 165px;
  }

  .u-section-2 .u-image-3 {
    min-height: 165px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 640px;
  }

  .u-section-2 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-2 .u-image-4 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 640px;
  }

  .u-section-2 .u-layout-wrap-3 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 330px;
  }

  .u-section-2 .u-image-5 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1570px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 129px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 198px;
    margin-right: 198px;
  }

  .u-section-2 .u-image-2 {
    min-height: 126px;
  }

  .u-section-2 .u-image-3 {
    min-height: 126px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 420px;
  }

  .u-section-2 .u-image-4 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 420px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-image-5 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2324px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 108px;
    margin-right: 108px;
  }

  .u-section-2 .u-image-2 {
    min-height: 189px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 189px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 240px;
  }

  .u-section-2 .u-image-4 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 240px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1769px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 227px;
    margin-top: 115px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 3px;
  }

  .u-section-2 .u-image-2 {
    min-height: 119px;
  }

  .u-section-2 .u-image-3 {
    min-height: 119px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 40px;
  }

  .u-section-2 .u-image-4 {
    min-height: 239px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 40px;
  }

  .u-section-2 .u-image-5 {
    min-height: 239px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 979px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 60px 0 0;
}

.u-section-3 .u-line-1 {
  height: 590px;
  transform-origin: center top 0px;
  width: 1px;
  margin: 72px auto 0 16px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: -615px 0 0;
}

.u-section-3 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-text-3 {
  margin: 0 320px 0 56px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 32px 0 0;
}

.u-section-3 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-text-5 {
  margin: 0 283px 0 56px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 32px 0 0;
}

.u-section-3 .u-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-text-7 {
  margin: 0 320px 0 56px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 32px 0 0;
}

.u-section-3 .u-icon-4 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-text-9 {
  margin: 0 320px 0 56px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: 32px 1px 0;
}

.u-section-3 .u-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-image-1 {
  width: 215px;
  height: 215px;
  object-position: 50% 0%;
  margin: -513px 45px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 283px;
  height: 203px;
  margin: 14px 0 0 auto;
}

.u-section-3 .u-text-11 {
  margin: 82px 320px 0 56px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-3 .u-icon-6 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-text-13 {
  margin: 0 320px 0 56px;
}

.u-section-3 .u-image-3 {
  width: 281px;
  height: 203px;
  margin: -224px 0 -324px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 293px;
    margin-left: 49px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 281px;
    margin-left: 49px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 293px;
    margin-left: 49px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-right: 293px;
    margin-left: 49px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    background-position: 50% 50%;
    margin-top: -600px;
    margin-right: 33px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 29px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 169px;
    margin-right: 293px;
    margin-left: 49px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-right: 293px;
    margin-left: 49px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -285px;
    margin-bottom: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-3 .u-line-1 {
    height: 587px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -612px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 245px;
    margin-left: 60px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 245px;
    margin-left: 60px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 245px;
    margin-left: 60px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 245px;
    margin-left: 60px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -554px;
    margin-right: 20px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 31px;
    margin-right: -38px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 105px;
    margin-right: 13px;
    margin-left: 47px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 245px;
    margin-left: 60px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -117px;
    margin-right: -37px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -620px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 47px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 47px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 47px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 47px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -122px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -92px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-top: 32px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
    margin-bottom: -35px;
    margin-left: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1014px;
  }

  .u-section-3 .u-line-1 {
    height: 657px;
    transform-origin: center bottom 0px;
    left: 0;
    top: 135px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 17px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 17px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 17px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 17px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -82px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 29px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -8px;
    margin-left: 17px;
  }

  .u-section-3 .u-text-13 {
    margin-bottom: 60px;
    margin-left: 17px;
  }
}.u-section-4 {
  min-height: 738px;
}

.u-section-4 .u-image-1 {
  width: 470px;
  height: 581px;
  object-position: 35.23% 50%;
  margin: 60px calc(((100% - 1140px) / 2) + 332px) 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 900;
  margin: -302px calc(((100% - 1140px) / 2) + 658px) 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-group-1 {
  min-height: 45px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 30px 7px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 508px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 30px calc(((100% - 1140px) / 2) + 658px) 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-text-4 {
  margin: 20px calc(((100% - 1140px) / 2) + 658px) -247px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    object-position: 28.72% 50%;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 458px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    width: 468px;
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 458px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 458px);
    margin-bottom: 0;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: -280px;
    margin-right: calc(((100% - 720px) / 2) + 360px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-group-1 {
    margin-top: 86px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    width: 416px;
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 238px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 238px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: -251px;
    margin-right: calc(((100% - 540px) / 2) + 189px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-group-1 {
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 58px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 58px);
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 577px;
  }

  .u-section-4 .u-image-1 {
    width: 278px;
    height: 366px;
    margin-top: 63px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -183px;
    margin-right: calc(((100% - 340px) / 2) + 63px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: 210px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 31px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-4 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-5 .u-sheet-1 {
  min-height: 580px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 59px 658px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-video-1 {
  width: 575px;
  height: 323px;
  margin: 29px auto 59px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 458px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 238px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 58px;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-video-1 {
    width: 300px;
    height: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 382px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 60px 744px 0 0;
}

.u-section-6 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 60px;
  min-height: 212px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 130px;
  height: 130px;
  background-image: url("images/28.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: -130px 0 0 163px;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0 163px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 130px;
  height: 130px;
  background-image: url("images/29.png");
  background-position: 65.09% 50%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: -130px 0 0 163px;
}

.u-section-6 .u-text-5 {
  margin: 20px 0 0 163px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 544px;
  }

  .u-section-6 .u-list-1 {
    min-height: 175px;
    grid-template-columns: repeat(2, calc(50% - 5px));
    height: auto;
  }

  .u-section-6 .u-image-1 {
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    margin-left: auto;
  }

  .u-section-6 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 324px;
  }

  .u-section-6 .u-list-1 {
    min-height: 414px;
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    width: auto;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    width: auto;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 7px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 144px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-4 {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 485px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  width: 338px;
  margin: 60px auto 0;
}

.u-section-7 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 10px auto 0;
}

.u-section-7 .u-accordion-1 {
  width: 1140px;
  margin: 30px 0 60px;
}

.u-section-7 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-7 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-7 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-7 .u-icon-2 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-7 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-3 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-7 .u-icon-3 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-7 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-accordion-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-2 {
    width: 720px;
  }

  .u-section-7 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-accordion-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-accordion-1 {
    width: 340px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 200px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 40px 450px 0;
}

.u-section-8 .u-btn-1 {
  font-size: 2.25rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 10px auto -23px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 350px;
    margin-right: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-left: 240px;
    margin-right: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 181px;
  }

  .u-section-8 .u-text-1 {
    width: 240px;
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 26px;
    margin-bottom: 40px;
  }
}