<section class="u-align-center u-clearfix u-grey-5 u-section-6" id="carousel_e959">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-text u-text-1">NEWS</h1>
      <h4 class="u-text u-text-2">ニュース</h4>

      <div class="u-blog u-expanded-width-sm u-expanded-width-xs u-blog-1">
        <div class="u-repeater u-repeater-1">
          
          <ng-container *ngFor="let item of rss_feeds; index as i">
            <div class="u-align-center-sm u-align-center-xs u-blog-post u-container-style u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1">

                <a class="u-post-header-link" href="{{item.link}}" target=”_blank”>
                  <img src="{{item.thumbnail}}" alt=""
                    class="u-blog-control u-hidden-sm u-hidden-xs u-image u-image-default u-image-1"
                    data-image-width="1232" data-image-height="441">
                </a>

                <h2 class="u-align-left u-blog-control u-text u-text-3">
                  <a class="u-post-header-link" href="{{item.link}}" target=”_blank”>
                    {{item.title}}
                  </a>
                </h2>

                <div class="u-align-left u-blog-control u-post-content u-text u-text-4"
                  [innerHTML]=item.description>
                </div>

                <div class="u-blog-control u-metadata u-metadata-1">
                  <span class="u-meta-date u-meta-icon">
                    {{item.pubDate}}
                  </span>
                </div>

                <a href="{{item.link}}" target=”_blank”
                  class="u-blog-control u-border-2 u-border-grey-dark-1 u-btn u-btn-rectangle u-button-style u-none u-btn-1">
                  Read More
                </a>

              </div>
            </div>
          </ng-container>

        </div>
      </div>
    </div>
  </section>