<p>service works!</p>

<!-- img loading="lazy"
スクロールに合わせて読み込まれるためデータ転送量やメモリ使用量を減らせる事ができる機能 -->

<!-- <div class="service-box">
    <div class="box-inner">
      <div class="image">
        <a class="service-icon" href="./">
          <img
            loading="lazy"
            src="../../../assets/img/professional.png"
            alt="image first"
          />
        </a>
      </div>

      <div class="text-area">
        <div class="text-inner">
          <h2>立体骨組応力解析</h2>
          <p class="exp-text">
            ３次元骨組構造解析をクラウドコンピューターで行うことにより、解析ソフトをインストールすることなく解析できます。指定の形式でサーバーに入力データを送信すれば解析結果が得られます。
          </p>
          <p class="btn">
            <a href="./">
              <span>詳細はこちら</span>
            </a>
          </p>
          <p class="btn">
            <a href="./">
              <span>利用する</span>
            </a>
          </p>
        </div>
      </div>
    </div>
</div> -->


<div class="box-inner left">
  <div class="image">
    <a href="./">
      <img src="../../assets/img/professional.png" alt="image first" />
    </a>
  </div>
  <div>
    <div class="text-head">
      <a href="./">立体骨組応力解析</a>
    </div>
    <div class="text-body">
      <p class="exp-text">
        ３次元骨組構造解析をクラウドコンピューターで行うことにより、解析ソフトをインストールすることなく解析できます。指定の形式でサーバーに入力データを送信すれば解析結果が得られます。
      </p>
      <a href="./"> 詳細はこちら </a>
      <a href="./"> 利用する </a>
    </div>
  </div>
</div>
