    <section class="u-align-center u-clearfix u-section-1" id="sec-4185">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
                <h1 style="text-align: left;">
                    <span style="line-height: 2.0;">Structural Engineの仕組み</span>
                </h1>
                <p style="text-align: left;">
                    <span
                        style="line-height: 2.0;">土木構造設計の数値計算の数量は膨大です。この数値計算を正確かつ速く処理できれば、仕事量を格段に増やすことができます。これを実現するのが、数値計算サービス<span
                            style="font-style: italic;">StructuralEngine</span>です。すべての利用者の皆様に、楽しく快適に<span
                            style="font-style: italic;">StructuralEngine</span>をご利用いただき、膨大な仕事量を速く計算処理いただきたいと願っています。&nbsp;
                    </span>
                </p>
                <h4 style="text-align: left;">指定の形式でサーバーに入力データを送信しよう</h4>
                <p style="text-align: left;">
                    <span
                        style="font-style: italic;">計算結果を得るには、指定の形式でサーバーに入力データを送信すれば解析結果が得られます。StructuralEngineはプログラムがその機能をほかのプログラムから利用できるように公開するインターフェイスを用意しており、この仕組みを一般に
                        API（Application Program Interface）と呼ばれています。&nbsp;</span>
                </p>
                <p style="text-align: left;">
                    <span style="font-style: italic;">
                        <img src="images/howitworks.png" width="570" style="width: 570px;"
                            class="fr-dib fr-fic">APIを利用する時、指定の形式でサーバーに入力データを送信すると、入力データを受け取ったサーバは、ユーザの命令に従ってデータの参照や加工を行い、ユーザに返します。<br
                            style="box-sizing: inherit; color: rgb(119, 119, 119); font-family: &quot;Open Sans&quot;, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">複雑なプログラミングの知識や膨大なデータベースを持っていなくても、命令を知っていればそれらを利用することができるという点に特徴があります。&nbsp;
                    </span>
                </p>
                <h4 style="text-align: left;">APIを利用するには？</h4>
                <p style="text-align: left;">
                    <span style="font-style: italic;">有名なものでは、</span>
                    <a class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1"
                        href="https://developers.google.com/maps?hl=ja" rel="noopener noreferrer" target="_blank">
                        <span style="font-style: italic;">Google Maps API</span>
                    </a>
                    <span style="font-style: italic;">や</span>
                    <a class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2"
                        href="https://developers.google.com/youtube" rel="noopener noreferrer" target="_blank">
                        <span style="font-style: italic;">YouTube API</span>
                    </a>
                    <span style="font-style: italic;">、</span>
                    <a class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-3"
                        href="https://developer.twitter.com/ja/docs" rel="noopener noreferrer" target="_blank">
                        <span style="font-style: italic;">Twitter API</span>
                    </a>
                    <span style="font-style: italic;">など、Web
                        APIは様々な企業から提供されています。利用の際には、ユーザー登録や公開APIの利用規約に同意し、それに沿った形で利用します。<br
                            style="box-sizing: inherit; color: rgb(119, 119, 119); font-family: &quot;Open Sans&quot;, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                    </span>
                    <a class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-4"
                        href="https://tonari-it.com/excel-vba-http-request/" rel="noopener noreferrer" target="_blank">
                        <span style="font-style: italic;">Excel(VBA) からAPIを利用する方法&nbsp;</span>
                    </a>
                </p>
            </div>
        </div>
    </section>
