<header>
  <div class="content-header">
    <div class="header-top">
      <h1>
        <a class="logo" href="./">
          <img
            src="../../assets/img/professional.png "
            width="100"
            height="50"
            alt="logo"
          />
        </a>
      </h1>
      <div class="btn">
        <div class="icon-bar"></div>
      </div>
      <div class="menu">
        <ul>
          <li>
            <a href="#about"> 会社紹介 </a>
          </li>
          <li>
            <a href="#service"> サービス </a>
          </li>
          <li>
            <a href="#shop"> ポイント購入 </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="letter">
  The Structural Engine
  は、建築・土木構造計算における３次元骨組構造解析をクラウドコンピューターで
  行うことにより、解析ソフトをインストールすることなく解析できます。指定の形式でサーバーに入力データを送信すれば解析結果が得られます。サンプルプログラムを用意していますので、お客様のニーズに合わせてカスタマイズしてお使いください。
</div>

<section class="content">
  <div class="content-inner">
    <a class="title">
      <h2>会社紹介</h2>
      <p class="entit">about</p>
    </a>
    <h3 class="subtit">社長紹介</h3>
    <p class="text">
      東京都三鷹市で、 鉄道系ドボク設計の会社をやってます。
      コンクリート構造物をプログラムを整備しながら設計することを得意としています
      。 DoboProではここにいるエンジニアの相談役をしています。
    </p>
  </div>
</section>

<section class="content">
  <div class="content-inner">
    <a class="title">
      <h2>サービス</h2>
      <p class="entit">service</p>
    </a>
    <h3 class="subtit">取り扱い案件</h3>
    <p class="text">
      東京都三鷹市で、 鉄道系ドボク設計の会社をやってます。
      コンクリート構造物をプログラムを整備しながら設計することを得意としています
      。 DoboProではここにいるエンジニアの相談役をしています。
    </p>
  </div>
</section>

<section class="content">
  <div class="content-inner">
    <a class="title">
      <h2>ポイント購入</h2>
      <p class="entit">shop</p>
    </a>
    <h3 class="subtit">ポイント1000pt</h3>
    <p class="text">
      東京都三鷹市で、 鉄道系ドボク設計の会社をやってます。
      コンクリート構造物をプログラムを整備しながら設計することを得意としています
      。 DoboProではここにいるエンジニアの相談役をしています。
    </p>
  </div>
</section>

<div class="buttun">
  <a class="buttun-inner"> 使い始める </a>
</div>

<!-- <div class="card">
  <h2 class="card-left">立体骨組応力解析</h2>
</div> -->

<div class="private">
  <ul class="icon">
    <a>株式会社ささこう</a>
    <li>
      <i class="fi fi-map-marker-alt"></i>
      〒181-0013 東京都三鷹市下連雀3丁目3-50 パークファミリア501
    </li>
    <li><i class="fi fi-phone"></i> 050-5806-0301</li>
  </ul>
</div>

<div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.023958288403!2d139.56269231512465!3d35.70102803649373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018efb40b58a647%3A0x2428be5444212649!2z44CSMTgxLTAwMTMg5p2x5Lqs6YO95LiJ6be55biC5LiL6YCj6ZuA77yT5LiB55uu77yT4oiS77yV77yQIOODkeODvOOCr-ODleOCoeODn-ODquOCog!5e0!3m2!1sja!2sjp!4v1614676703530!5m2!1sja!2sjp"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
  ></iframe>
</div>

<!-- ページトップへ戻る -->
<div id="page_top"><a href="#"></a></div>

<footer>
  Copyright © 2021 Structural Engine – OnePress theme by FameTheme
</footer>
